div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.start-wrapper{
    width: 40%;
    margin: 20px;
    
}
.start-button{
    background-color:  rgb(245,245,245);
    padding: 20% 50% 20% 50%;
    font-size: 40px;
    transition: 0.2s;   
    letter-spacing: 15px;
    border: 1px grey solid;
    border-radius: 20px;
}
.start-button:hover{
    background-color:  rgb(230, 229, 229);
    cursor: pointer;
    
}
.start-button:active{
    background-color:  rgb(212, 212, 212);
    
    
}